#top-header{
        display: flex;
        position: fixed;
        flex-direction: row;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        margin: 0 auto;
        justify-content: space-between;
        z-index: 999;
        background: #eee;
}

.top-nav {
    background-color: #FFDD00;
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%; 
    height: 70px;
    
}

.topnav a {
    float: right;
    color: #002036;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;    
    display: block;

}

.topnav a.active {
    background-color: #002036;
    color: #FFDD00;
}

.main {
    margin-top: 30px; 
}

.logo {
    display: block;
    width: 20vw; // if it's too big or small you can re-adjust to your prefered size.
    height: 10vh;
}

    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}
